body {
  padding: 0;
  margin: 0;
}

p, button {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
}

#header {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.heading {
  background-color: #1f2937;
  color: white;
  padding: 20px 15% 100px 15%;
}

.infobar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  color: #e5e7eb;
  gap: 10px;
}

.intro {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#intro-text {
  flex-basis: 50%;
}

#title {
  font-weight: bolder;
  font-size: 48px;
  color: #f9faf8;
  width: 90%;
}

#subtext {
  font-size: 20px;
  color: #e5e7eb;
  width: 90%;
}

#heading-button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 25px;
}

#heading-image {
  background-color: gray;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-info {
  padding-top: 20px;
  padding-bottom: 30px;
}

#desc-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

#boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px 25%;
  gap: 50px
}

.infobox {
  border-color: #3882f6;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box {
  aspect-ratio: 1 / 1;
  width: 100%;
  border: 5px solid#3882f6;
  border-radius: 10px;
  margin-bottom: 5px;
}

.caption {
  width: 100%;
  text-align: center;
  text-wrap: wrap;
  color: gray;
}